img {
  max-width: 100%;
  height: auto;
}

.espaciado {
  margin-bottom: 40px; /* Espacio entre los elementos div con la clase "elemento-estilizado" */
}

.centrado {
  text-align: center; /* Centra el texto horizontalmente */
}

.logo-jl {
  margin-left: -5px;
  margin-top: 150px;
}

#respuesta-container {
  display: none;
  color: green;
}

p.grande {
  font-size: 1.2em; /* 1.2 veces el tamaño de la fuente actual */
}
